In [12]:
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [14]:
df = pd.read_csv('data/moderna_sentiment_analysis.csv', index_col="date", infer_datetime_format=True, parse_dates=True)
df = df.resample('D').mean()
df.head()

            compound  positive  negative   neutral
date
2019-10-01  0.111867  0.037167  0.000000  0.962833
2019-10-02  0.233725  0.066250  0.000000  0.933750
2019-10-03  0.040680  0.029200  0.018200  0.952600
2019-10-04  0.326025  0.128375  0.018125  0.853500
2019-10-05       NaN       NaN       NaN       NaN

In [15]:
df2 = pd.read_csv('data/moderna_prices.csv', index_col="t", infer_datetime_format=True, parse_dates=True)
df2["c"] = df2["c"].pct_change()
df2 = df2.dropna()
df2["c"][df2["c"] < 0] = 0
df2["c"][df2["c"] > 0] = 1
df2.head()

              c        h       l      o         v
t
2019-10-02  0.0  35.2700  34.655  35.26  17819919
2019-10-03  1.0  35.4700  34.600  34.71  15758523
2019-10-04  1.0  35.9800  35.445  35.49  14147114
2019-10-07  0.0  36.2600  35.810  35.82   8816274
2019-10-08  0.0  35.8755  35.420  35.65  11426298

In [16]:
df = pd.concat([df,df2], axis =1)
df = df.dropna()
df.head()

,compound,positive,negative,neutral,c,h,l,o,v
2019-10-02,0.233725,0.066250,0.000000,0.933750,0.0,35.2700,34.655,35.26,17819919.0
2019-10-03,0.040680,0.029200,0.018200,0.952600,1.0,35.4700,34.600,34.71,15758523.0
2019-10-04,0.326025,0.128375,0.018125,0.853500,1.0,35.9800,35.445,35.49,14147114.0
2019-10-07,0.037667,0.032667,0.020444,0.946889,0.0,36.2600,35.810,35.82,8816274.0
2019-10-08,0.239144,0.113444,0.047556,0.839333,0.0,35.8755,35.420,35.65,11426298.0

In [17]:
X = df.drop(["c"], axis=1)
y = df["c"]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
model = LinearDiscriminantAnalysis().fit(x_train, y_train)

In [20]:
predictions = model.predict(x_test)

In [21]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         0.0       0.89      0.78      0.83        32
         1.0       0.74      0.87      0.80        23

    accuracy                           0.82        55
   macro avg       0.82      0.83      0.82        55
weighted avg       0.83      0.82      0.82        55

In [22]:
file_path = Path("data/moderna_combined.csv")
df.to_csv(file_path, index=False, encoding='utf-8-sig')